body {
    background-color: bisque;
}
.main {
    background-color: cadetblue;
    padding: 3rem;
    width: 300px;
    margin: auto;
}
.input {
    width: 100%;
    padding: 5px;
    border: 2px solid black;
    display: inline;
}
.list {
    list-style: none;
    color: white;
    font-size: 24px;
    display: inline;
    margin-right: 10px;
}
.btn {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 2px;
}
.btn2 {
    color: white;
    font-size: 12px;
    padding: 2px;
    border: none;
}