body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.h-img{
  width: 100%;
  height: 200px;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  border: none;
  padding: 0px 0px;
}
.main img {
  height: 200px;
  margin: 0px 0px;
}